
@font-face {
    font-family: 'Rawrote';
    src: url('./src/font/rawrote.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Perpetua';
    font-style: normal;
    font-weight: 700;
    src: url('./src/font/Perpetua.woff') format('woff');
}

@font-face {
    font-family: 'Marker Note Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Marker Note Regular'), url('./src/font/MarkerNote-Regular.woff') format('woff');
    }