footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 65px 6vw 65px 6vw;
    width: calc(100vw - 14vw);
    height: 100px;
    gap: 24vw;
}

footer p {
    white-space: nowrap;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo2 {
    width: 3vw;
    height: auto;
}

.footer-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
}

.footer-menu {
    display: flex;
    flex-direction: column;
}

.footer-middle {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-right img {
    max-width: 2.5vw;
    height: auto;
}

.footer-lien {
    white-space: nowrap;
    font-family: 'Perpetua';
    font-size: 24px;
    color: #000000;
    transition: 0.2s ease-in-out;
}

.footer-lien:hover {
    color: #960000;
}