body {
    scroll-behavior: smooth;
}

::-moz-selection {
    color: rgb(255, 255, 255);
    background: #960000;
}

::selection {
    color: rgb(255, 255, 255);
    background: #960000;
}

h1 {
    font-family: 'Rawrote';
    font-size: 96px;
    color: #960000;
    text-transform: uppercase;
}

h2 {
    font-family: 'Rawrote';
    font-size: 36px;
    color: #960000;
    text-transform: uppercase;
}

h3 {
    font-family: 'Marker Note Regular';
    font-size: 24px;
    color: #960000;
    text-transform: uppercase;
}

h4 {
    font-family: 'Rawrote';
    font-size: 32px;
    color: #960000;
}

body {
    height: 1000px;
    cursor: url("src/images/souris.webp"), auto;
    background-color: #F6F6F6;
}

p {
    font-family: 'Perpetua';
    font-size: 24px;
    color: black;
}

a {
    color: #960000;
    text-decoration: none;
}

nav a {
    font-family: 'Perpetua';
    font-size: 24px;
    text-decoration: none;
    color: black;
}

header span {
    font-family: 'Rawrote';
    font-size: 24px;
    color: #960000;
    text-transform: uppercase;
}

main a {
    font-family: 'Perpetua';
    font-size: 24px;
    text-decoration: none;
    color: #960000;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6vw;
    width: calc(100vw - 12vw);
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: top 0.4s; /* Ajoute une transition pour un effet fluide */
    transition-delay: 0.2s;
}

header.hidden {
    top: -80px;
}

.logo1 {
    width: 3vw;
    min-width: 40px;
    margin-right: 2vw;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
}

.bouton-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-mes-projets {
    position: relative;
    /* Permet aux enfants d'être positionnés relativement à cet élément */
    display: inline-block;
    /* Garde le lien compact */
    text-align: center;
    /* Centre le texte */
}

.texte-mes-projets {
    position: relative;
    /* Garde le texte au-dessus de l'image */
    font-size: 18px;
    /* Ajustez la taille selon vos besoins */
    z-index: 2;
    /* Assure que le texte est au-dessus de l'image */
}

.image-entoure {
    position: absolute;
    /* Superpose l'image */
    top: 50%;
    /* Centre verticalement */
    left: 50%;
    /* Centre horizontalement */
    transform: translate(-50%, -50%);
    /* Ajuste parfaitement l'image autour du texte */
    width: 130%;
    /* Ajustez la taille pour qu'elle englobe bien le texte */
    height: auto;
    z-index: 1;
    /* Place l'image sous le texte */
    pointer-events: none;
    /* Empêche l'image d'interférer avec le clic sur le lien */
    opacity: 0%;
    transition: 0.3s ease-in-out;
}

/* Applique l'effet lorsque le lien est survolé */
.menu-mes-projets:hover .image-entoure,
.bouton-menu:hover .image-souligne {
    opacity: 100%;
    /* Rend l'image visible */
}

.image-souligne {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    height: auto;
    opacity: 0%;
    position: absolute;
    width: 90px;
    bottom: 30%;
    transition: 0.3s ease-in-out;
}

.language img {
    width: 1vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    width: 100%;
    height: 100vh;
    background-image: url('./src/images/background-paper/papier1.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.top-content span {
    font-family: 'Rawrote';
    margin-left: 11vw;
    color: #960000;
    font-size: 48px;
    background-color: rgba(210, 205, 163, 0.5);
}

@media screen and (max-width: 425px) {

    /* Font */
    h1 {
        font-size: 56px;
        width: 50%;
        line-height: 180%;
        margin-top: -64px;
        text-align: center;
    }

    h2 {
        width: 80%;
        font-size: 28px;
        text-align: center;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    main {
        gap: 28px
    }

    nav a p {
        font-size: 18px;
    }

    main a {
        font-size: 18px;
    }

    /* top content */
    header {
        height: 65px;
        padding: 0 5vw;
        width: calc(100vw - 10vw);
    }

    .image-souligne {
        width: 65px;
    }

    .top-content {
        margin-top: 65px;
        height: 90vh;
        min-height: 500px;
        gap: 48px;
    }

    .top-content span {
        margin: 0;
        width: 50%;
        text-align: center;
        line-height: 150%;
        font-size: 28px;
    }

    nav {
        gap: 5vw;
        justify-content: space-between;
    }

    .nav-right {
        display: flex;
        align-items: center;
    }

    .logo1 {
        width: 40px;
        margin-right: 0;
    }

    .bouton-accueil {
        display: none;
    }
}

@media screen and (min-width: 425px) and (max-width: 600px) {

    /* Font */
    h1 {
        font-size: 56px;
        width: 80%;
        line-height: 180%;
        margin-top: -64px;
        text-align: center;
    }

    h2 {
        width: 80%;
        font-size: 28px;
        text-align: center;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    main {
        gap: 28px
    }

    nav a p {
        font-size: 18px;
    }

    main a {
        font-size: 18px;
    }

    /* top content */
    header {
        padding: 0 5vw;
        width: calc(100vw - 10vw);
        height: 80px;
    }

    .image-souligne {
        width: 65px;
    }

    .top-content {
        margin-top: 80px;
        height: 90vh;
        min-height: 500px;
    }

    .top-content span {
        width: fit-content;
        line-height: 150%;
        font-size: 28px;
    }

    nav {
        gap: 5vw;
        justify-content: space-between;
    }

    .nav-right {
        display: flex;
        align-items: center;
    }

    .logo1 {
        width: 40px;
        margin-right: 0;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {

    /* Font */
    h1 {
        font-size: 56px;
        width: 80%;
        line-height: 180%;
        margin-top: -64px;
        text-align: center;
    }

    h2 {
        width: 80%;
        font-size: 28px;
        text-align: center;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    main {
        gap: 28px
    }

    nav a p {
        font-size: 18px;
    }

    main a {
        font-size: 18px;
    }

    /* top content */
    header {
        padding: 0 5vw;
        width: calc(100vw - 10vw);
        height: 80px;
    }

    .top-content {
        margin-top: 80px;
        height: 90vh;
        min-height: 500px;
    }

    .top-content span {
        width: fit-content;
        line-height: 150%;
        font-size: 28px;
    }

    nav {
        gap: 5vw;
        justify-content: space-between;
    }

    .nav-right {
        display: flex;
        align-items: center;
    }

    .logo1 {
        width: 40px;
        margin-right: 0;
    }

    .image-souligne {
        width: 65px;
    }
}