body {
    scroll-behavior: smooth;
}

.sticky-paper {
    position: fixed;
    opacity: 69%;
    width: 100%;
    height: 832px;
    background-image: url('src/images/background-paper/sticky-paper.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1; /* met l’image derrière le contenu */
    pointer-events: none; /* pour éviter les blocages sur les clics */
}

::-moz-selection {
    color: rgb(255, 255, 255);
    background: #960000;
}

::selection {
    color: rgb(255, 255, 255);
    background: #960000;
}

h1 {
    font-family: 'Rawrote';
    font-size: 96px;
    color: #960000;
    text-transform: uppercase;
}

h2 {
    font-family: 'Rawrote';
    font-size: 36px;
    color: #960000;
    text-transform: uppercase;
}

h3 {
    font-family: 'Marker Note Regular';
    font-size: 24px;
    color: #960000;
    text-transform: uppercase;
}

h4 {
    font-family: 'Rawrote';
    font-size: 32px;
    color: #960000;
}

body {
    height: 1000px;
    cursor: url("src/images/souris.webp"), auto;
    background-color: #F6F6F6;
}

p {
    font-family: 'Bricolage Grotesque';
    font-size: 20px;
    font-weight: 300;
    color: #0E0D0A;
}

a {
    color: #960000;
    text-decoration: none;
}

header span {
    font-family: 'Rawrote';
    font-size: 24px;
    color: #960000;
    text-transform: uppercase;
}

main a {
    font-family: 'Bricolage Grotesque';
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
    color: #960000;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6vw;
    width: calc(100vw - 12vw);
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: top 0.4s; /* Ajoute une transition pour un effet fluide */
    transition-delay: 0.2s;
}

header.hidden {
    top: -80px;
}

.logo1 {
    width: 3vw;
    min-width: 40px;
    margin-right: 2vw;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
}

.bouton-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bouton {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    color: #0E0D0A;
    gap: 10px;
    padding: 10px 28px;
    border-style: solid;
    border-radius: 25px;
    border-color: #0E0D0A;
    border-width: 2px;
    transition: 0.2s ease-in-out;
}

.bouton:hover {
    background-color: #0E0D0A;
}

.bouton:hover p {
    color: #F6F6F6;
}

.bouton:hover .nav-arrow {
    color: #F6F6F6;
    transform: rotate(45deg);
}

.image-souligne {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    height: auto;
    opacity: 0%;
    position: absolute;
    width: 90px;
    bottom: 30%;
    transition: 0.3s ease-in-out;
}

.bouton-menu:hover 
.image-souligne {
    opacity: 100%;
}

.language img {
    width: 1vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    width: 100%;
    height: 110vh;
    background-image: url('./src/images/hero_paper.webp');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-content span {
    font-family: 'Rawrote';
    margin-left: 11vw;
    color: #960000;
    font-size: 48px;
}

.highlight {
    width: fit-content;
    background-color: rgba(210, 205, 163, 0.69);
}

@media screen and (max-width: 425px) {

    /* Font */
    h1 {
        font-size: 56px;
        width: 50%;
        line-height: 180%;
        margin-top: -64px;
        text-align: center;
    }

    h2 {
        width: 80%;
        font-size: 28px;
        text-align: center;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    main {
        gap: 28px
    }

    nav a p {
        font-size: 18px;
    }

    main a {
        font-size: 18px;
    }

    /* top content */
    header {
        height: 65px;
        padding: 0 5vw;
        width: calc(100vw - 10vw);
    }

    .image-souligne {
        width: 65px;
    }

    .top-content {
        height: 90vh;
        min-height: 500px;
        gap: 48px;
    }

    .top-content span {
        margin: 0;
        width: 50%;
        text-align: center;
        line-height: 150%;
        font-size: 28px;
    }

    nav {
        gap: 5vw;
        justify-content: space-between;
    }

    .nav-right {
        display: flex;
        align-items: center;
    }

    .logo1 {
        width: 40px;
        margin-right: 0;
    }

    .bouton-accueil {
        display: none;
    }
}

@media screen and (min-width: 425px) and (max-width: 600px) {

    /* Font */
    h1 {
        font-size: 56px;
        width: 80%;
        line-height: 180%;
        margin-top: -64px;
        text-align: center;
    }

    h2 {
        width: 80%;
        font-size: 28px;
        text-align: center;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    main {
        gap: 28px
    }

    nav a p {
        font-size: 18px;
    }

    main a {
        font-size: 18px;
    }

    /* top content */
    header {
        padding: 0 5vw;
        width: calc(100vw - 10vw);
        height: 80px;
    }

    .image-souligne {
        width: 65px;
    }

    .top-content {
        height: 90vh;
        min-height: 500px;
    }

    .top-content span {
        width: fit-content;
        line-height: 150%;
        font-size: 28px;
    }

    nav {
        gap: 5vw;
        justify-content: space-between;
    }

    .nav-right {
        display: flex;
        align-items: center;
    }

    .logo1 {
        width: 40px;
        margin-right: 0;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {

    /* Font */
    h1 {
        font-size: 56px;
        width: 80%;
        line-height: 180%;
        margin-top: -64px;
        text-align: center;
    }

    h2 {
        width: 80%;
        font-size: 28px;
        text-align: center;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    main {
        gap: 28px
    }

    nav a p {
        font-size: 18px;
    }

    main a {
        font-size: 18px;
    }

    /* top content */
    header {
        padding: 0 5vw;
        width: calc(100vw - 10vw);
        height: 80px;
    }

    .top-content {
        height: 90vh;
        min-height: 500px;
    }

    .top-content span {
        width: fit-content;
        line-height: 150%;
        font-size: 28px;
    }

    nav {
        gap: 5vw;
        justify-content: space-between;
    }

    .nav-right {
        display: flex;
        align-items: center;
    }

    .logo1 {
        width: 40px;
        margin-right: 0;
    }

    .image-souligne {
        width: 65px;
    }
}

@media screen and (min-width: 1740px) and (max-width: 2561px) {
    h1 {
        font-family: 'Rawrote';
        font-size: 120px;
        color: #960000;
        text-transform: uppercase;
    }
    
    h2 {
        font-family: 'Rawrote';
        font-size: 42px;
        color: #960000;
        text-transform: uppercase;
    }
    
    h3 {
        font-family: 'Marker Note Regular';
        font-size: 32px;
        color: #960000;
        text-transform: uppercase;
    }
    
    h4 {
        font-family: 'Rawrote';
        font-size: 38px;
        color: #960000;
    }
    
    body {
        height: 1000px;
        cursor: url("src/images/souris.webp"), auto;
        background-color: #F6F6F6;
    }
    
    p {
        font-family: 'Bricolage Grotesque';
        font-weight: 300;
        font-size: 32px;
        color: black;
    }
    
    .footer-lien {
        font-size: 32px!important;
    }
    
    nav a {
        font-family: 'Bricolage Grotesque';
        font-weight: 300;
        font-size: 32px;
        text-decoration: none;
        color: black;
    }
    
    header span {
        font-family: 'Rawrote';
        font-size: 32px;
        color: #960000;
        text-transform: uppercase;
    }
    
    main a {
        font-family: 'Bricolage Grotesque';
        font-weight: 300;
        font-size: 32px;
        text-decoration: none;
        color: #960000;
    }
}