.a-propos {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

.a-propos-contenu {
    display: flex;
    align-items: center;
    position: relative;
}

.a-propos-left-texte {
    height: 380px;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.2;
    padding: 0 10vw 0 4vw;
    padding-top: 25px;
    background-image: url('src/images/PAPIER.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: start;
}

.a-propos-left {
    display: flex;
    flex-direction: column;
}

.a-propos-right {
    margin-left: -11vw;
}

.etoile-a-propos {
    position: relative;
    margin-top: -90px;
    margin-left: -3vw;
    max-width: 10vw;
    height: auto;
}

.flex-title-domaines {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.domaines-expertises-titre {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 16px;
}

.polaroid .bouton {
    position: relative;
    z-index: 2;
    margin: 0 0 -30px 1vw;
}

.a-propos-contenu .bouton, .domaines-expertises-titre .bouton {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5vw;
    text-decoration: none;
    text-decoration-color: #960000;
}

.a-propos-contenu .bouton:hover, .domaines-expertises-titre .bouton:hover {
    text-decoration: underline;
    text-decoration-color: #960000;
    text-decoration-thickness: 1.5px;
}

.bouton span {
    font-family: 'Marker Note Regular';
    color: black;
    font-size: 18px;
    text-transform: uppercase;
}

.a-propos-left .bouton {
    margin-left: 10vw;
    margin-top: -30px;
}

.domaines-expertises {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.domaines-expertises-contenu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-image: url(src/images/papier-jaune.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    padding: 7vw 35vw;
}

.polaroid-row1 {
    display: flex;
    margin-left: -6vw;
    gap: 30px;
}

.polaroid-row2 {
    display: flex;
    margin-right: -6vw;
    gap: 30px;
}

.polaroid {
    display: flex;
    align-items: end;
    position: relative;
    width: 16vw;
    height: 290px;
}

.polaroid-image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 16vw;
    margin-top: 55px;
}

.polaroid-noir:hover {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.polaroid-noir {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.polaroid-noir:hover,
.polaroid-domaine {
    animation: shake 0.4s ease-in-out;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.telephone-cable {
    max-width: 25vw;
    height: auto;
}

.telephone-appareil {
    max-width: 17vw;
    height: auto;
    margin-left: -0.5vw;
}

.telephone:hover .telephone-appareil {
    animation: shake 0.5s ease-in-out;
}

.telephone:hover .telephone-cable {
    animation: stretch 0.7s ease-in-out;
}

@keyframes stretch {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(1.02);
    }

    100% {
        transform: scaleX(1);
    }
}

.contact {
    padding: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 64px;
}

.titre-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.telephone {
    margin-left: -7vw;
    display: flex;
    flex-direction: row;
}

.contact h2 {
    display: flex;
    justify-content: center;
}

.contact-message img {
    max-width: 5vw;
    margin-left: -3vw;
}

.contact-content {
    display: flex;
    align-items: end;
    flex-direction: row;
    gap: 3vw;
}

.contact-message {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-bottom: 3vw;
}

/* Style du popup */
.popup {
    display: none;  /* Caché par défaut */
    position: fixed;
    background-image: url(src/images/post-it1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30vw;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

/* Contenu du popup */
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

/* Bouton pour fermer le popup */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.contact-form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form-content input, .contact-form-content textarea {
    width: 280px;
}

/* Style du formulaire */
form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
    resize: none;
}

.envoyer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.envoyer img{
    width: 3vw;
    height: auto;
}

.envoyer span {
    margin-bottom: 20px;
}

.popup h2 {
    padding-top: 10px;
    margin-bottom: 20px;
}

.span-envoyer {
    font-family: 'Marker Note Regular';
    color:#960000;
    font-size: 18px;
    text-transform: uppercase;
    background-color: transparent;
}

.envoyer button {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.envoyer-email-image {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.mail-ouvert {
    position: relative;  /* Nécessaire pour positionner ::after correctement */
    display: inline-block;  /* Assure que l'image est rendue comme un élément en ligne */
}

.mail-ouvert::after {
    content: '';  /* Nécessaire pour créer l'élément */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('src/images/mail-ferme.png');
    background-size: contain;  /* Ajuste l'image pour qu'elle couvre tout l'élément */
    background-repeat: no-repeat;
    opacity: 0;  /* Cache l'image au départ */
    transition: opacity 0.3s ease;  /* Transition de l'opacité pour l'effet de survol */
}

.mail-ouvert:hover::after {
    opacity: 1;  /* L'image mail-ferme devient visible au survol */
}

.mail-ouvert:hover {
    opacity: 0;  /* Cache l'image mail-ouvert au survol */
}







/* Responsive */
@media screen and (max-width: 375px) {
    .a-propos {
        padding: 48px 5vw;
        gap: 48px;
    }

    .a-propos-contenu {
        flex-direction: column-reverse;
    }

    .a-propos-left-texte {
        height: 380px;
        width: 90%;

        line-height: 2.2;
        padding: 0 8vw 0 4vw;
        padding-top: 25px;

    }

    .a-propos-right {
        margin: 0;
        width: 90vw;
    }

    /* .etoile-a-propos {
        margin-top: -90px;
        margin-left: -3vw;
        max-width: 10vw;
    } */


    .domaines-expertises {
        padding: 42px 5vw;
    }

    .domaines-expertises-contenu {
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-image: url(src/images/papier-jaune.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
        padding: 7vw 35vw;
    }

    .domaines-expertises-titre {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 16px;
    }

    .polaroid .bouton {
        position: relative;
        z-index: 2;
        margin: 0 0 -30px 1vw;
    }
}