.a-propos {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

.a-propos-contenu {
    display: flex;
    align-items: center;
    position: relative;
}

.a-propos-left-texte {
    height: 380px;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.2;
    padding: 0 10vw 0 4vw;
    padding-top: 25px;
    background-image: url('src/images/background-paper/papier.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: start;
}

.a-propos-left {
    display: flex;
    flex-direction: column;
}

.a-propos-right {
    margin-left: -11vw;
    width: 30vw;
    height: auto;
}

.etoile-a-propos {
    position: absolute;
    bottom: -20px;
    left: -3vw;
    width: 12vw;
    margin-left: 0;
}

.flex-title-domaines {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.domaines-expertises-titre {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 16px;
}

.a-propos-contenu .bouton {
    margin-left: 10vw;
}

.a-propos-contenu .bouton,
.domaines-expertises-titre .bouton {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5vw;
    text-decoration: none;
    text-decoration-color: #960000;
}

.a-propos-contenu .bouton:hover,
.domaines-expertises-titre .bouton:hover {
    text-decoration: underline;
    text-decoration-color: #960000;
    text-decoration-thickness: 1.5px;
}

.bouton span {
    font-family: 'Marker Note Regular';
    color: black;
    font-size: 18px;
    text-transform: uppercase;
}

.domaines-expertises {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.domaines-expertises-contenu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-image: url('src/images/background-paper/papier-jaune.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    padding: 7vw 35vw;
}

.polaroid-row1 {
    display: flex;
    margin-left: -6vw;
    gap: 30px;
}

.polaroid-row2 {
    display: flex;
    margin-right: -6vw;
    gap: 30px;
}

.polaroid {
    display: flex;
    align-items: end;
    position: relative;
    width: 16vw;
    height: 340px;
}

.polaroid .bouton {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 18px;
}

.polaroid-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 16vw;
    margin-top: 55px;
}

.polaroid:hover .polaroid-img-visible {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.polaroid .polaroid-img-visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.polaroid:hover {
    animation: shake 0.4s ease-in-out;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.telephone-cable {
    max-width: 25vw;
    height: auto;
}

.telephone-appareil {
    max-width: 17vw;
    height: auto;
    margin-left: -0.5vw;
}

.telephone-appareil:hover {
    animation: shake 0.5s ease-in-out;
}

.telephone-appareil:hover .telephone-cable {
    animation: stretch 0.7s ease-in-out;
}

@keyframes stretch {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(1.02);
    }

    100% {
        transform: scaleX(1);
    }
}

.contact {
    padding: 100px 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 64px;
}

.titre-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.telephone {
    margin-left: -7vw;
    display: flex;
    flex-direction: row;
}

.contact h2 {
    display: flex;
    justify-content: center;
}

.contact-message img {
    max-width: 5vw;
    margin-left: -3vw;
}

.contact-content {
    display: flex;
    align-items: end;
    flex-direction: row;
    gap: 3vw;
}

.contact-message {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-bottom: 3vw;
}

/* Style du popup */
.popup {
    display: none;
    /* Caché par défaut */
    position: fixed;
    background-image: url('src/images/background-paper/post-it1.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30vw;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

/* Contenu du popup */
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

/* Bouton pour fermer le popup */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.contact-form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form-content input,
.contact-form-content textarea {
    width: 280px;
}

/* Style du formulaire */
form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
    resize: none;
}

.envoyer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.envoyer img {
    width: 3vw;
    height: auto;
}

.envoyer span {
    margin-bottom: 20px;
}

.popup h2 {
    padding-top: 10px;
    margin-bottom: 20px;
}

.span-envoyer {
    font-family: 'Marker Note Regular';
    color: #960000;
    font-size: 18px;
    text-transform: uppercase;
    background-color: transparent;
}

.envoyer button {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.mail-container {
    position: relative;
    display: inline-block;
    opacity: 1;
}

.mail-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('src/images/mail-ferme.webp');
    background-position-y: 19px;
    background-position-x: 6px;
    background-size: 80%;
    background-repeat: no-repeat;
    opacity: 0;
}

.mail-container:hover::after {
    opacity: 1;
}

/* Cacher l'image mail-ouvert au hover */
.mail-container:hover img {
    opacity: 0;
}

.mentions-légales {
    display: flex;
    flex-direction: column;
    gap: 150px;
    margin: 0 6vw 200px 6vw;
    text-align: justify;
}


main .mentions-légales {
    margin-top: 96px;
}

/* Responsive */
@media screen and (max-width: 375px) {
    .a-propos {
        padding: 48px 3vw;
        gap: 12px;
    }

    .a-propos-contenu {
        flex-direction: column-reverse;
    }

    .a-propos-left-texte {
        background-image: url('src/images/background-paper/background-apropos.webp');
        width: calc(100% - 14vw);
        line-height: 2.2;
        padding: 0 10vw 0 4vw;
        height: 400px;
        background-size: 100% 100%;
    }

    .a-propos-left-texte p {
        width: 95%;
        line-height: 200%;
    }

    .a-propos-right {
        margin: 0;
        width: 90vw;
    }

    .a-propos-contenu .bouton {
        margin-left: 25vw;
    }

    .etoile-a-propos {
        width: 20vw;
        bottom: 0;
        left: 1vw;
    }

    /* Domaines */
    .domaines-expertises {
        padding: 32px 0;
    }

    .domaines-expertises-contenu {
        background-image: url('src/images/background-paper/background-category.webp');
        width: calc(100% - 10vw);
        background-size: cover;
        padding: 50px 5vw;
        gap: 0;
    }

    .domaines-expertises-titre {
        align-items: center;
    }

    .polaroid-row1 {
        flex-direction: column;
        margin-left: 0vw;
        gap: 0;
    }

    .polaroid-row2 {
        margin-right: 0vw;
        flex-direction: column;
        gap: 0;
    }

    .polaroid {
        width: 200px;
        height: 300px;
    }

    .polaroid .bouton {
        bottom: 20px;
    }

    .bouton span {
        font-size: 16px;
    }

    .polaroid:nth-child(1) {
        align-self: flex-end;
    }

    .polaroid-img {
        width: 200px;
        margin-top: 55px;
    }

    .polaroid-noir {
        opacity: 0;
    }

    .telephone-cable {
        max-width: 45vw;
    }

    .telephone-appareil {
        max-width: 27vw;
        margin-top: 2vw;
        margin-left: -2vw;
    }

    .contact {
        padding: 100px 0 0 0;
        gap: 64px;
    }

    .titre-contact {
        align-items: center;
    }

    .contact-message img {
        max-width: 8vw;
    }

    .popup {
        background-size: 100% 80%;
    }

    .popup h2 {
        text-align: start;
    }

    .mail-container::after,
    .mail-container img {
        background-size: 100%;
        background-position: center;
        left: 10%;
        width: 35px;
    }

    .envoyer img {
        width: 10vw;
    }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
    .a-propos {
        padding: 48px 3vw;
        gap: 12px;
    }

    .a-propos-contenu {
        flex-direction: column-reverse;
    }

    .a-propos-left-texte {
        background-image: url('src/images/background-paper/background-apropos.webp');
        height: fit-content;
        width: calc(100% - 8vw);
        line-height: 2.2;
        padding: 0 5vw;
        height: 400px;
        background-size: 100% 100%;
        background-position: center;
    }

    .a-propos-left-texte p {
        width: 95%;
        line-height: 200%;
    }

    .a-propos-right {
        margin: 0;
        width: 90vw;
    }

    .a-propos-contenu .bouton {
        margin-left: 25vw;
    }

    .etoile-a-propos {
        width: 20vw;
        bottom: 0;
        left: 1vw;
    }

    /* Domaines */
    .domaines-expertises {
        padding: 32px 0;
    }

    .domaines-expertises-contenu {
        background-image: url('src/images/background-paper/background-category.webp');
        width: calc(100% - 10vw);
        background-size: cover;
        padding: 50px 5vw;
        gap: 0;
    }

    .domaines-expertises-titre {
        align-items: center;
    }

    .polaroid-row1 {
        flex-direction: column;
        margin-left: 0vw;
        gap: 60px;
        margin-bottom: 80px;
    }

    .polaroid-row2 {
        margin-right: 0vw;
        flex-direction: column;
        gap: 60px;
        margin-bottom: 80px;
    }

    .polaroid {
        width: 250px;
        height: 300px;
    }

    .polaroid .bouton {
        bottom: -30px;
    }

    .bouton span {
        font-size: 16px;
    }

    .polaroid:nth-child(1) {
        align-self: flex-end;
    }

    .polaroid-img {
        width: 250px;
        margin-top: 55px;
    }

    .polaroid-noir {
        opacity: 0;
    }

    .telephone-cable {
        max-width: 45vw;
    }

    .telephone-appareil {
        max-width: 27vw;
        margin-top: 2vw;
        margin-left: -2vw;
    }

    .contact {
        padding: 100px 0 0 0;
        gap: 64px;
    }

    .titre-contact {
        align-items: center;
    }

    .contact-message img {
        max-width: 8vw;
    }

    .popup {
        background-size: 100% 80%;
    }

    .popup h2 {
        text-align: start;
    }

    .mail-container::after,
    .mail-container img {
        background-size: 100%;
        background-position: center;
        left: 10%;
        width: 35px;
    }

    .envoyer img {
        width: 10vw;
    }
}

@media screen and (min-width: 425px) and (max-width: 600px) {
    .a-propos {
        padding: 48px 3vw;
        gap: 12px;
    }

    .a-propos-contenu {
        flex-direction: column-reverse;
    }

    .a-propos-left-texte {
        position: relative;
        background-image: url('src/images/background-paper/background-apropos.webp');
        height: fit-content;
        width: calc(100% - 8vw);
        line-height: 2.2;
        padding: 0 5vw;
        height: 300px;
        background-size: 100% 100%;
        background-position: center;
    }

    .a-propos-left-texte p {
        width: 95%;
        line-height: 200%;
    }

    .a-propos-right {
        margin: 0;
        width: 75vw;
    }

    .etoile-a-propos {
        position: absolute;
        bottom: -32px;
        left: 0;
        max-width: 20vw;
        margin-left: 0;
    }

    .a-propos-contenu .bouton {
        margin-left: 22vw;
    }

    /* Domaines */
    .domaines-expertises {
        padding: 32px 0;
    }

    .domaines-expertises-contenu {
        background-image: url('src/images/background-paper/background-category.webp');
        width: calc(100% - 10vw);
        background-size: cover;
        padding: 90px 5vw;
        gap: 0;
    }

    .domaines-expertises-titre {
        align-items: center;
    }

    .polaroid-row1 {
        flex-direction: column;
        margin-left: 0vw;
        margin-bottom: 15px;
        gap: 0;
    }

    .polaroid-row2 {
        margin-right: 0vw;
        flex-direction: column;
        margin-bottom: 80px;
        gap: 0;
    }

    .polaroid {
        width: 275px;
        height: 370px;
    }

    .polaroid .bouton {
        bottom: 10px;
    }

    .bouton span {
        font-size: 16px;
    }

    .polaroid:nth-child(1) {
        align-self: flex-end;
    }

    .polaroid-img {
        width: 275px;
        margin-top: 55px;
    }

    .polaroid-noir {
        opacity: 0;
    }

    .telephone-cable {
        max-width: 45vw;
    }

    .telephone-appareil {
        max-width: 27vw;
        margin-top: 2vw;
        margin-left: -2vw;
    }

    .contact {
        padding: 100px 0 0 0;
        gap: 64px;
    }

    .titre-contact {
        align-items: center;
    }

    .contact-message img {
        max-width: 8vw;
    }

    .popup {
        background-size: 80% 100%;
    }

    .popup h2 {
        text-align: start;
    }

    .mail-container::after,
    .mail-container img {
        background-size: 100%;
        background-position: center;
        left: 10%;
        width: 6vw !important;
    }

    .envoyer img {
        width: 6vw;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .a-propos {
        padding: 48px 3vw;
    }

    .a-propos-contenu {
        flex-direction: row;
    }

    .a-propos-left-texte {
        position: relative;
        background-image: url('src/images/background-paper/background-apropos.webp');
        height: fit-content;
        width: calc(100% - 8vw);
        line-height: 2.2;
        padding: 20px 5vw;
        background-size: 100% 100%;
    }

    .a-propos-left-texte p {
        width: 75%;
        line-height: 200%;
    }

    .a-propos-right {
        z-index: 2;
        margin: 0;
        width: 40vw;
        margin-left: -11vw;
    }

    .etoile-a-propos {
        position: absolute;
        bottom: -32px;
        left: 0;
        max-width: 20vw;
        margin-left: 0;
    }

    .a-propos-contenu .bouton {
        margin-left: 15vw;
    }

    /* Domaines */
    .domaines-expertises {
        padding: 32px 0;
    }

    .domaines-expertises-contenu {
        align-items: center;
        background-image: url('src/images/background-paper/papier-jaune.webp');
        width: calc(100% - 10vw);
        background-size: cover;
        padding: 5vw;
        gap: 0;
    }

    .domaines-expertises-titre {
        align-items: center;
    }

    .polaroid-row1 {
        flex-direction: row;
        margin-left: 0vw;
        margin-bottom: 15px;
        gap: 5vw;
        margin-top: 100px;
    }

    .polaroid-row2 {
        margin-right: 0vw;
        flex-direction: row;
        margin-bottom: 80px;
        gap: 5vw;
    }

    .polaroid {
        width: 275px;
        height: 370px;
    }

    .polaroid .bouton {
        bottom: 10px;
    }

    .bouton span {
        font-size: 16px;
    }

    .polaroid:nth-child(1) {
        align-self: flex-end;
    }

    .polaroid-img {
        width: 275px;
        margin-top: 55px;
    }

    .polaroid-noir {
        opacity: 0;
    }

    .telephone-cable {
        max-width: 45vw;
    }

    .telephone-appareil {
        max-width: 27vw;
        margin-top: 2vw;
        margin-left: -2vw;
    }

    .contact {
        padding: 100px 0 0 0;
        gap: 64px;
    }

    .titre-contact {
        align-items: center;
    }

    .contact-message img {
        max-width: 8vw;
    }

    .popup {
        background-size: 80% 100%;
    }

    .popup h2 {
        text-align: start;
    }

    .mail-container::after,
    .mail-container img {
        background-size: 100%;
        background-position: center;
        left: 10%;
        width: 6vw !important;
    }

    .envoyer img {
        width: 6vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .a-propos {
        padding: 48px 3vw;
    }

    .a-propos-contenu {
        flex-direction: row;
    }

    .a-propos-left-texte {
        position: relative;
        background-image: url('src/images/background-paper/background-apropos.webp');
        height: fit-content;
        width: calc(100% - 8vw);
        line-height: 2.2;
        padding: 20px 5vw;
        background-size: 100% 100%;
    }

    .a-propos-left-texte p {
        width: 75%;
        line-height: 200%;
    }

    .a-propos-right {
        z-index: 2;
        margin: 0;
        width: 40vw;
        margin-left: -11vw;
    }

    .etoile-a-propos {
        position: absolute;
        bottom: -32px;
        left: 0;
        max-width: 20vw;
        margin-left: 0;
    }

    .a-propos-contenu .bouton {
        margin-left: 15vw;
    }

    /* Domaines */
    .domaines-expertises {
        padding: 32px 0;
    }

    .domaines-expertises-contenu {
        align-items: center;
        background-image: url('src/images/background-paper/papier-jaune.webp');
        width: calc(100% - 10vw);
        background-size: cover;
        padding: 5vw;
        gap: 0;
    }

    .domaines-expertises-titre {
        align-items: center;
    }

    .polaroid-row1 {
        flex-direction: row;
        gap: 5vw;
        margin: 100px 15vw 15px 0;
    }

    .polaroid-row2 {
        margin-right: 0vw;
        flex-direction: row;
        margin-bottom: 80px;
        margin-left: 15vw;
        gap: 5vw;
    }

    .polaroid {
        width: 275px;
        height: 370px;
    }

    .polaroid .bouton {
        bottom: 10px;
    }

    .bouton span {
        font-size: 16px;
    }

    .polaroid:nth-child(1) {
        align-self: flex-end;
    }

    .polaroid-img {
        width: 275px;
        margin-top: 55px;
    }

    .polaroid-noir {
        opacity: 0;
    }

    .telephone-cable {
        max-width: 45vw;
    }

    .telephone-appareil {
        max-width: 27vw;
        margin-top: 2vw;
        margin-left: -2vw;
    }

    .contact {
        padding: 100px 0 0 0;
        gap: 64px;
    }

    .titre-contact {
        align-items: center;
    }

    .contact-message img {
        max-width: 8vw;
    }

    .popup {
        background-size: 70% 70%;
    }

    .popup h2 {
        text-align: start;
    }

    .mail-container::after,
    .mail-container img {
        background-size: 100%;
        background-position: center;
        left: 10%;
        width: 6vw !important;
    }

    .envoyer img {
        width: 6vw;
    }
}

@media screen and (min-width: 1440px) and (max-width: 2560px) {
    .polaroid .bouton {
        bottom: none;
        top: 350px;
    }

    .a-propos-left-texte {
        background-size: 100% 100%;
    }
}