body {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Rawrote';
    font-size: 96px;
    color: #960000;
    text-transform: uppercase;
}

h2 {
    font-family: 'Rawrote';
    font-size: 36px;
    color: #960000;
    text-transform: uppercase;
}

h3 {
    font-family: 'Marker Note Regular';
    font-size: 24px;
    color:#960000;
    text-transform: uppercase;
}

header span {
    font-family: 'Rawrote';
    font-size: 24px;
    color: #960000;
    text-transform: uppercase;
}

a {
    color: #960000;
    text-decoration: none;
}

.polaroid span {
    font-family: 'Marker Note Regular';
    font-size: 16px;
    color:#000000;
    text-transform: uppercase;
}

body{
    height: 1000px;
    cursor: url("src/images/souris.png"), auto;
    background-color: #F6F6F6;
}

p {
    font-family: 'Perpetua';
    font-size: 24px;
    color: black;
}

nav a {
    font-family: 'Perpetua';
    font-size: 24px;
    text-decoration: none;
    color: black;
}

main a {
    font-family: 'Perpetua';
    font-size: 20px;
    text-decoration: none;
    color: #960000;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6vw;
    width: calc(100vw - 12vw);
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 999;
}

.logo1 {
    width: 3vw;
}


nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 58px
}

.language {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.language img {
    width: 1vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 200px
}

.top-content {
    margin-top: 100px; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    text-align: right; 
    width: 100%;
    height: 100vh;
    background-image: url('./src/images/papier1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.top-content span {
    font-family: 'Rawrote';
    margin-left: 11vw;
    color: #960000;
    font-size: 48px;
    background-color: rgba(210, 205, 163, 0.5);
}

.a-propos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:48px;
}

.a-propos-contenu {
    display: flex;
    align-items: center;
    position: relative;
}

.a-propos-left-texte {
    height: 380px;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.2;
    padding: 0 10vw 0 4vw;
    padding-top: 25px;
    background-image: url('src/images/PAPIER.png');
    background-repeat: no-repeat;
    background-size: auto; 
    background-position: start;
}

.a-propos-left {
    display: flex;
    flex-direction: column;
}

.a-propos-right {
    margin-left: -11vw;
}

.etoile-a-propos {
    position: relative;
    margin-top: -90px;
    margin-left: -3vw;
    max-width: 10vw;
    height: auto;
}

.flex-title-domaines{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.domaines-expertises-titre { 
    display: flex;
    flex-direction: column; 
    align-items: end; 
    gap:16px;
}

.polaroid .bouton {
    position: relative;
    z-index: 2;
    margin: -10px -10px 0 0;
}

.bouton {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5vw;
}

.a-propos-left .bouton  {
    margin-left: 10vw;
    margin-top: -30px;
}

.domaines-expertises {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.domaines-expertises-contenu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-image: url(src/images/papier-jaune.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    padding: 7vw 35vw;
}

.polaroid-row1 {
    display: flex;
    margin-left: -6vw;
    gap: 30px;
}

.polaroid-row2 {
    display: flex;
    margin-right: -6vw;
    gap: 30px;
}

.polaroid {
    display: flex;
    align-items: end;
    position: relative;
    width: 16vw;
    height: 290px;
}

.polaroid-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 16vw;
    margin-top: 55px;
}

.telephone-cable {
    max-width: 25vw;
}

.telephone-appareil {
    max-width: 15vw;
    margin-left: -3px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.telephone {
    display: flex;
    flex-direction: row;
}

.contact h2 {
    display: flex;
    justify-content: center;
}

.contact-message img {
    max-width: 5vw;
    margin-left: -3vw;
}

.contact-content {
    display: flex;
    align-items: end;
    flex-direction: row;
    gap: 3vw;
}

.contact-message {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-bottom: 3vw;
}