h1 {
    font-family: 'Rawrote';
    font-size: 96px;
    color: #960000;
    text-transform: uppercase;
}

h2 {
    font-family: 'Rawrote';
    font-size: 36px;
    color: #960000;
    text-transform: uppercase;
}

h3 {
    font-family: 'Marker Note Regular';
    font-size: 24px;
    color:#960000;
    text-transform: uppercase;
}

h4 {
    font-family: 'Rawrote';
    font-size: 24px;
    color:#960000;
}

body{
    height: 1000px;
    cursor: url("src/images/souris.png"), auto;
    background-color: #F6F6F6;
}

p {
    font-family: 'Perpetua';
    font-size: 24px;
    color: black;
}

header a {
    font-family: 'Perpetua';
    font-size: 24px;
    text-decoration: none;
    color: black;
}

a {
    font-family: 'Perpetua';
    font-size: 24px;
    text-decoration: none;
    color: #960000;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6vw;
    width: calc(100vw - 12vw);
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 999;
}

.logo1 {
    width: 3vw;
}


nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 58px
}

.language {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.top-content {
    margin-top: 100px; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    text-align: right; 
    width: 100%;
    height: 100vh;
    background-image: url('./src/images/papier1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.top-content span {
    font-family: 'Rawrote';
    color: #960000;
    font-size: 48px;
    background-color: rgba(210, 205, 163, 0.5);
}

.language img {
    width: 1vw;
}

.mes-projets-titre img{
    width: 5vw;
    margin-top: -50px;
    margin-bottom: 50px;
    transform: scaleX(-1);
}


.mes-projets-titre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}


.audiovisuel-titre {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    margin-left: 3vw;
    align-items: center;
}

.mes-projets-audiovisuel-card1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: start;
}

.computer {
    max-width: 30vw;
    height: auto;
}

.post-it1 {
    margin-top: 40px;
    max-width: 20vw;        
    background-image: url('./src/images/post-it1.png');
    background-repeat: no-repeat;
    padding: 70px 45px;
    margin-right: -4vw;
}

.audiovisuel-cards span {
    font-family: 'Perpetua';
    font-size: 24px;
    color: black;
    background-color: rgba(210, 205, 163, 0.5);
}

.etoile-audiovisuel1 {
    position: relative;
    margin-right: -100px;
}

.post-it2 {
    margin-top: 40px;
    max-width: 20vw;        
    background-image: url('./src/images/post-it2.png');
    background-repeat: no-repeat;
    padding: 70px 45px;
    margin-left: -4vw;
}

.mes-projets-audiovisuel-card2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: end;
}

.audiovisuel-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 180px;
}
