.mes-projets-contenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 200px;
}

.mes-projets-titre img {
    position: absolute;
    bottom: 50%;
    left: 100%;
    width: 5vw;
    transform: scaleX(-1);
}

.mes-projets-titre {
    display: flex;
    align-self: center;
    width: fit-content;
    justify-content: center;
    position: relative;
    margin-top: 100px;
}

.catégorie-titres {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    margin-left: 4vw;
}

.uiux-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 12vw;
}

.uiux {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    padding-top: 100px;
}

.info-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}

.uiux-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 21vw;
}

.uiux-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: end;
}

.scroll {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    position: absolute;
    left: 3vw;
    bottom: 96px;
}

.scroll h3 {
    margin-left: -2vw;
}

.bouton:hover .link-arrow {
    color: #F6F6F6;
    transform: rotate(-45deg);
}

.television-frame {
    max-width: 40vw;
    height: auto;
}

.television {
    position: relative;
    z-index: 1;
    background-image: url('src/images/background-paper/papier-television.webp');
    background-repeat: no-repeat;
    background-position: right;
    padding: 8vw 8vw 8vw 9.5vw;
}

.television-screen {
    position: absolute;
    top: 18%;
    left: 23%;
    width: 53.5%;
    height: 52%;
    overflow: hidden;
    z-index: 1;
    /* Toujours derrière la frame */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    scrollbar-width: none;
    pointer-events: all;
    mask-image: url("src/images/formes-televisions.svg");
    -webkit-mask-image: url("src/images/formes-televisions.svg");

    /* Empêcher la répétition */
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

    /* Ajuster la taille au conteneur */
    mask-size: 100% 100%;
}

.television-screen::-webkit-scrollbar {
    display: none;
    /* Cache la scrollbar sur Chrome et Safari */
}

.scroll-content {
    width: 100%;
    height: 200%;
    /* Longue image scrollable */
}

.scroll-content img {
    padding: 28px 0;
    width: 100%;
    height: auto;
}

.etoiles {
    position: absolute;
    top: 48px;
    left: 5vw;
    width: 12vw;
    height: auto;
}

.palette-couleurs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-right: 20vw;
    gap: 2vw;
}

.palette-content {
    position: relative;
    width: fit-content;
}

.palette {
    position: absolute;
    z-index: 3;
    bottom: 70%;
    left: 75%;
    width: 15vw;
}

.carres-couleurs {
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    background-image: url('src/images/background-paper/postit-uiux.webp');
    background-repeat: no-repeat;
    background-position: center;
    padding: 5vw 4vw;
    gap: 1vw;
}

.carre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carre p {
    opacity: 0;
    margin-top: -4vw;
    transition: opacity 0.5s ease-in-out;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 18px;
}

.texte-blanc {
    color: white;
}

.carre:hover p {
    opacity: 1;
}

.bleu-fonce {
    padding: 3.5vw;
    background-color: #155A7A;
    border-radius: 1vw;
}

.bleu-clair {
    padding: 3.5vw;
    background-color: #609BBF;
    border-radius: 1vw;
}

.blanc {
    padding: 3.5vw;
    background-color: #F6F6F6;
    border-radius: 1vw;
}

.noir {
    padding: 3.5vw;
    background-color: #000000;
    border-radius: 1vw;
}

.polices {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    background-image: url('src/images/background-paper/postit-uiux.webp');
    background-repeat: no-repeat;
    background-position: center;
    padding: 3vw 6vw;
    gap: 1vw;
}

.typographie {
    display: flex;
    align-self: center;
    width: fit-content;
    flex-direction: column;
    align-items: end;
    margin-left: 20vw;
    gap: 2vw;
}

.typographie-content {
    position: relative;
    z-index: 1;
}

.encre {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 85%;
    width: 20vw;
}

.polices-titres,
.polices-corps {
    display: flex;
    flex-direction: column;
}

.polices-titres p,
.polices-corps p {
    margin-bottom: 12px;
}

.polices-titres span {
    font-family: 'Lemon Milk';
    background: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 500;
}

.regular {
    font-weight: 400;
}

.light {
    font-weight: 300;
}

.polices-corps span {
    font-family: 'Bricolage Grotesque';
    background: none;
}

.graphisme {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-top: 100px;
}

.graphisme-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.graphisme-affiche {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.affiche {
    position: relative;
    z-index: 3;
    width: 30vw;
    max-width: 400px;
    cursor: pointer;
}

.graphisme-texte {
    position: relative;
    display: flex;
    align-items: center;
    width: 32vw;
    height: 300px;
}

.affiche-texte {
    position: absolute;
    left: 0;
    z-index: 2;
    line-height: 48px;
    width: 32vw;
    min-width: 400px;
}

.affiche-texte-background {
    position: absolute;
    z-index: 1;
    width: 43vw;
    min-width: 500px;

}

.graphisme-affiche:first-child .affiche-texte {
    left: 3vw;
}

.graphisme-affiche:nth-of-type(2) .affiche-texte {
    right: 3vw;
    left: auto;
}


.graphisme-affiche:first-child .affiche-texte-background {
    left: -1vw;
}

.graphisme-affiche:nth-of-type(2) .affiche-texte-background {
    right: -1vw;
    left: auto;
}

.graphisme-logo-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}

.graphisme-postit,
.logo-graphisme {
    width: 18vw;
    height: auto;
}

.texte-logo {
    width: 30vw;
}

.audiovisuel {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

.mes-projets-audiovisuel-card {
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: start;
    position: relative;
}

.computer1,
.computer2 {
    position: relative;
    z-index: 2;
    max-width: 30vw;
    height: auto;
    flex-shrink: 0;
    transition: transform 0.3s ease-in-out;
}

.computer1:hover {
    transform: rotate(-5deg);
    cursor: pointer;
}

.computer2:hover {
    transform: rotate(5deg);
    cursor: pointer;
}

.post-it1 {
    position: relative;
    z-index: 1;
    margin-right: -4.5vw;
    max-width: 20vw;
    background-image: url('./src/images/background-paper/post-it1.webp');
    background-repeat: no-repeat;
    background-position: left;
    padding: 70px 45px;
    flex-shrink: 0;
}

.post-it2 {
    position: relative;
    z-index: 1;
    margin-left: -3vw;
    max-width: 20vw;
    background-image: url('./src/images/background-paper/post-it2.webp');
    background-repeat: no-repeat;
    background-position: left;
    padding: 70px 45px;
    flex-shrink: 0;
}

.popup {
    display: none;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    z-index: 999999;
    background: url('./src/images/background-paper/papier.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 45px 5vw;
    border-radius: 10px;
    width: 80vw;
    max-width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 iframe {
    width: 80%;
    height: calc(80vw * 9 / 16);
    max-width: 800px; 
    max-height: 400px;
    display: block;
}


.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.popup-content .close {
    color: white;
    background-color: transparent;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.etoile-audiovisuel1 {
    position: absolute;
    z-index: 2;
    left: -3vw;
    top: -40px;
    width: 10vw;
    height: auto;
}

.etoile-audiovisuel2 {
    position: absolute;
    z-index: 2;
    right: -1.5vw;
    top: -35px;
    width: 10vw;
    height: auto;
}

.audiovisuel-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 180px;
}

.audiovisuel-message {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.audiovisuel-message img {
    max-width: 5vw;
    transform: rotate(50);
}

.audiovisuel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#filtre {
    z-index: 800;
    position: fixed;
    height: 100%;
    width: 100%;
    pointer-events: none;
    top: 0;
    left: 0;

    &.dark {
        background-color: rgba(0, 0, 0, 0.7);
        pointer-events: all;

        &::after {
            display: inline-block;
        }
    }
}

#preview-image {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5em;
    --preview-image-width: min(calc(95vw),
            calc((95vh) * var(--image-width) / var(--image-height)));
    width: var(--preview-image-width);
    height: calc(var(--preview-image-width) * var(--image-height) / var(--image-width));
    cursor: pointer;
}

#filtre::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    z-index: 801;
    border: 5px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: none;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.conteneur {
position: relative;
}

.conteneur iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.illustrations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    gap: 100px;
}

.illustrations-contenu {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carnet {
    width: 850px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('src/images/background-paper/carnet.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.carnet-left,
.carnet-right {
    width: 40%;
    height: 100%;
    position: relative;
}

.dessin {
    width: 65%;
    height: auto;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}

.dessin.visible {
    opacity: 1;
    pointer-events: all;
}

.carnet-left .dessin {
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
}

.carnet-right .dessin {
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
}

.indications img {
    max-width: 5vw;
    height: auto;
}

.indications {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.indications-fleche {
    cursor: pointer;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:425px) {
    .catégorie-titres img {
        width: 10vw;
    }

    .mes-projets-contenu {
        gap: 36px;
    }

    .mes-projets-titre img {
        width: 30px;
        left: auto;
        right: 25%;
        bottom: 0%;
    }

    .uiux-top {
        gap: 12vw;
        flex-direction: column;
    }

    .uiux {
        gap: 50px;
        padding-top: 50px;
    }

    .uiux-left {
        max-width: none;
        width: calc(100% - 5vw);
        padding: 0 5vw;
    }

    .uiux-right {
        width: 100%;
    }

    .scroll {
        flex-direction: row;
        gap: 1vw;
        bottom: 0;
        margin-bottom: -20px;
        margin-left: 5vw;
    }

    .scroll h3 {
        margin-left: -2vw;
    }

    .scroll img {
        width: 15vw;
        transform: rotate(-20deg);
    }

    .lien img {
        margin: -8px -8px 0 0;
    }

    .television-frame {
        max-width: none;
        width: 100%;
    }

    .television {
        width: 100%;
        background-size: cover;
    }

    .television-screen {
        top: 2.5%;
        left: 18.5%;
        width: 62.5%;
        height: 80%;
    }

    .etoiles {
        width: 20vw;
        top: 0;
    }

    .palette-couleurs {
        margin-right: 0;
    }

    .palette {
        bottom: 70%;
        left: 85%;
        width: 20vw;
    }

    .carres-couleurs {
        background-size: 100%;
        padding: 11vw 4vw;
        gap: 2vw;
    }

    .carre p {
        opacity: 0;
        margin-top: -10vw;
        font-size: 12px;
    }

    .bleu-fonce {
        padding: 8vw;
        border-radius: 2vw;
    }

    .bleu-clair {
        padding: 8vw;
        border-radius: 2vw;
    }

    .blanc {
        padding: 8vw;
        border-radius: 2vw;
    }

    .noir {
        padding: 8vw;
        border-radius: 2vw;
    }

    .encre {
        position: absolute;
        z-index: 3;
        top: -20%;
        right: 65%;
        width: 35vw;
    }

    .polices {
        align-items: start;
        background-size: 100% 100%;
        padding: 3vw 6vw;
        gap: 3vw;
    }

    .typographie {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 5vw;
        gap: 2vw;
    }

    .polices-titres,
    .polices-corps {
        display: flex;
        flex-direction: column;
        width: 35vw;
    }

    .polices-corps {
        width: 31vw;
    }

    .polices-titres p,
    .polices-corps p {
        margin-bottom: 12px;
    }

    .medium {
        display: none;
    }

    .light {
        display: none;
    }


    .graphisme {
        gap: 50px;
    }

    .graphisme-content {
        margin: 0;
    }

    .graphisme-affiche:nth-of-type(1) {
        flex-direction: column;
    }

    .graphisme-affiche:nth-of-type(2) {
        flex-direction: column-reverse;
    }

    .graphisme-texte {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: none;
    }

    /* AFFICHE  */

    .affiche {
        width: 75%;
    }

    .affiche-texte {
        position: absolute;
        left: 0;
        z-index: 2;
        line-height: 25px;
        width: 80vw;
        min-width: auto;
        padding-left: 0;
    }

    .graphisme-affiche:first-child .affiche-texte-background {
        left: -8vw;
    }

    .graphisme-affiche:nth-of-type(2) .affiche-texte-background {
        right: -8vw;
        left: auto;
    }

    .graphisme-affiche:nth-of-type(1) .affiche-texte {
        left: 12.5%;
        width: 75%;
    }

    .graphisme-affiche:nth-of-type(2) .affiche-texte {
        left: 12.5%;
        width: 75%;
    }

    .affiche-texte-background {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 80%;
        left: 0;
    }

    .affiche-texte-background1 {
        margin-left: -5vw;
    }

    .affiche-texte-background2 {
        right: -3vw;
        left: auto;
    }

    .graphisme-logo-container {
        flex-direction: column;
        gap: 32px;
    }

    .graphisme-logo-container:nth-last-of-type(1) {
        flex-direction: column-reverse;
    }


    .graphisme-logo-container .graphisme-postit {
        width: 60vw;
        height: auto;
    }

    .logo-graphisme {
        width: 40vw;
    }

    .texte-logo {
        width: 90vw;
    }


    .audiovisuel {
        padding-top: 32px;
        gap: 64px;
    }

    .audiovisuel-cards {
        gap: 64px;
    }

    .mes-projets-audiovisuel-card {
        flex-direction: column-reverse;
        gap: 24px;
        align-items: center;
    }

    .mes-projets-audiovisuel-card:nth-child(2) {
        flex-direction: column;
    }

    .computer1,
    .computer2 {
        max-width: none;
        width: 80vw;
    }

    .post-it1 {
        margin-right: 0;
        max-width: none;
        width: 75.5%;
        padding: 64px 24px;
        background-size: 100%;
    }

    .post-it2 {
        margin-right: 0;
        max-width: none;
        width: 75.5%;
        padding: 64px 24px;
        background-size: 100%;
    }

    .popup-content {
        padding: 35px 5vw;
        width: 90vw;
        background-size: 100% 100%;
    }

   

    .etoile-audiovisuel1 {
        width: 20vw;
        top: -20px;
    }

    .etoile-audiovisuel2 {
        width: 20vw;
        top: -20px;
    }

    /* Illustrations */

    .illustrations {
        padding-top: 64px;
        gap: 32px;
    }

    .illustrations-contenu {
        height: 300px;
    }

    .carnet {
        width: 100%;
        height: 300px;
    }

    .carnet {
        scale: 1;
    }


    .indications {
        gap: 5vw;
    }

    .indications h3 {
        text-align: center;
    }

    .indications img {
        max-width: none;
        width: 10vw;
    }

}

@media screen and (min-width: 425px) and (max-width: 600px) {
    .catégorie-titres img {
        width: 10vw;
    }

    .mes-projets-contenu {
        gap: 36px;
    }

    .mes-projets-titre img {
        width: 30px;
        left: auto;
        right: 25%;
        bottom: 0%;
    }

    .uiux-top {
        gap: 12vw;
        flex-direction: column;
    }

    .uiux {
        gap: 50px;
        padding-top: 50px;
    }

    .uiux-left {
        max-width: none;
        width: calc(100% - 20vw);
        padding: 0 10vw;
    }

    .uiux-right {
        width: 100%;
        justify-content: end;
    }

    .scroll {
        flex-direction: row;
        gap: 1vw;
        bottom: 0;
        margin-bottom: -20px;
        margin-left: 5vw;
    }

    .scroll h3 {
        margin-left: -2vw;
    }

    .scroll img {
        width: 15vw;
        transform: rotate(-20deg);
    }

    .lien img {
        margin: -8px -8px 0 0;
    }

    .television-frame {
        max-width: none;
        width: 100%;
    }

    .television {
        max-width: 350px;
        width: 100%;
        background-size: cover;
    }

    .television-screen {
        top: 2.5%;
        left: 18.5%;
        width: 62.5%;
        height: 80%;
    }

    .etoiles {
        width: 20vw;
        top: 0;
    }

    .palette-couleurs {
        margin-right: 0;
    }

    .palette {
        bottom: 70%;
        left: 85%;
        width: 20vw;
    }

    .carres-couleurs {
        background-size: 100%;
        padding: 11vw 4vw;
        gap: 2vw;
    }

    .carre p {
        opacity: 0;
        margin-top: -10vw;
        font-size: 12px;
    }

    .bleu-fonce {
        padding: 8vw;
        border-radius: 2vw;
    }

    .bleu-clair {
        padding: 8vw;
        border-radius: 2vw;
    }

    .blanc {
        padding: 8vw;
        border-radius: 2vw;
    }

    .noir {
        padding: 8vw;
        border-radius: 2vw;
    }

    .encre {
        position: absolute;
        z-index: 3;
        top: -30%;
        left: -5%;
        width: 25vw;
    }

    .polices {
        align-items: start;
        background-size: 100% 100%;
        padding: 3vw 6vw;
        gap: 3vw;
    }

    .typographie {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 5vw;
        gap: 2vw;
    }

    .polices-titres,
    .polices-corps {
        display: flex;
        flex-direction: column;
        width: 35vw;
        gap: 8px;
    }

    .polices-corps {
        width: 31vw;
    }

    .polices-titres p,
    .polices-corps p {
        margin-bottom: 12px;
    }


    .graphisme {
        gap: 50px;
    }

    .graphisme-content {
        margin: 0;
    }

    .graphisme-affiche:nth-of-type(1) {
        flex-direction: column;
    }

    .graphisme-affiche:nth-of-type(2) {
        flex-direction: column-reverse;
    }

    .graphisme-texte {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 500px;

    }

    .graphisme-affiche:first-child .graphisme-texte {
        align-self: start;
    }

    .graphisme-affiche:nth-of-type(2) .graphisme-texte {
        align-self: end;
    }

    /* AFFICHE  */

    .affiche {
        width: 75%;
        max-width: 350px;
    }

    .affiche-texte {
        position: absolute;
        left: 0;
        z-index: 2;
        line-height: 25px;
        width: 80vw;
        min-width: auto;
        padding-left: 0;
    }

    .graphisme-affiche:first-child .affiche-texte-background {
        left: -8vw;
    }

    .graphisme-affiche:nth-of-type(2) .affiche-texte-background {
        right: -8vw;
        left: auto;
    }

    .graphisme-affiche:first-child .affiche-texte {
        left: 5vw;
    }

    .graphisme-affiche:nth-of-type(2) .affiche-texte {
        right: 6vw;
        left: auto;
    }

    .affiche-texte-background {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 80%;
        left: 0;
    }

    .affiche-texte-background1 {
        margin-left: -5vw;
    }

    .affiche-texte-background2 {
        right: -3vw;
        left: auto;
    }

    .graphisme-logo-container {
        flex-direction: column;
        gap: 48px;
    }

    .graphisme-logo-container:nth-last-of-type(1) {
        flex-direction: column-reverse;
    }


    .graphisme-logo-container .graphisme-postit {
        width: 60vw;
        max-width: 250px;
        height: auto;
    }

    .logo-graphisme {
        width: 35vw;
    }

    .texte-logo {
        width: 80vw;
    }


    .audiovisuel {
        padding-top: 32px;
        gap: 64px;
    }

    .audiovisuel-cards {
        gap: 64px;
    }

    .mes-projets-audiovisuel-card {
        flex-direction: column-reverse;
        gap: 24px;
        align-items: center;
    }

    .mes-projets-audiovisuel-card:nth-child(2) {
        flex-direction: column;
    }

    .computer1,
    .computer2 {
        max-width: none;
        width: 80vw;
        max-width: 350px;
    }

    .post-it1 {
        margin-right: 0;
        max-width: none;
        width: 75.5%;
        padding: 48px 32px;
        background-size: 100%;
    }

    .post-it2 {
        margin-right: 0;
        max-width: none;
        width: 75.5%;
        padding: 48px 32px;
        background-size: 100%;
    }

    .popup-content {
        padding: 55px 5vw;
        width: 90vw;
        background-size: 100% 100%;
    }

    .etoile-audiovisuel1 {
        width: 15vw;
        top: -20px;
    }

    .etoile-audiovisuel2 {
        width: 15vw;
        top: -20px;
        right: -15px;
    }

    /* Illustrations */

    .illustrations {
        padding-top: 64px;
        gap: 32px;
    }

    .illustrations-contenu {
        height: 380px;
    }

    .carnet {
        width: 100%;
        height: 380px;
    }

    .carnet {
        scale: 1;
    }


    .indications {
        gap: 5vw;
    }

    .indications h3 {
        text-align: center;
    }

    .indications img {
        max-width: none;
        width: 10vw;
    }

}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .catégorie-titres img {
        width: 10vw;
    }

    .mes-projets-contenu {
        gap: 36px;
    }

    .mes-projets-titre img {
        width: 30px;
        left: auto;
        right: 25%;
        bottom: 0%;
    }

    .uiux-top {
        gap: 12vw;
        flex-direction: column;
    }

    .uiux {
        gap: 50px;
        padding-top: 50px;
    }

    .uiux-left {
        max-width: 500px;
        width: calc(100% - 20vw);
        padding: 0 10vw;
    }

    .uiux-right {
        width: 100%;
        justify-content: end;
    }

    .scroll {
        flex-direction: row;
        gap: 1vw;
        bottom: 0;
        margin-bottom: -20px;
    }

    .scroll h3 {
        margin-left: -2vw;
    }

    .scroll img {
        width: 15vw;
        transform: rotate(-20deg);
    }

    .lien img {
        margin: -8px -8px 0 0;
    }

    .television-frame {
        max-width: none;
        width: 100%;
    }

    .television {
        max-width: 350px;
        width: 100%;
        background-size: cover;
    }

    .television-screen {
        top: 3%;
        left: 22%;
        width: 56%;
        height: 80%;
    }

    .etoiles {
        width: 15vw;
        top: 0;
    }

    .palette-couleurs {
        margin-right: 0;
    }

    .palette {
        bottom: 70%;
        left: 85%;
        width: 20vw;
    }

    .carres-couleurs {
        background-size: 100%;
        padding: 11vw 50px;
        gap: 2vw;
    }

    .carre p {
        opacity: 0;
        margin-top: -10vw;
        font-size: 12px;
    }

    .bleu-fonce {
        padding: 5vw;
        border-radius: 15px;
    }

    .bleu-clair {
        padding: 5vw;
        border-radius: 15px;
    }

    .blanc {
        padding: 5vw;
        border-radius: 15px;
    }

    .noir {
        padding: 5vw;
        border-radius: 15px;
    }

    .encre {
        position: absolute;
        z-index: 3;
        top: -20%;
        left: -10%;
        width: 25vw;
    }

    .polices {
        align-items: start;
        background-size: 100% 100%;
        padding: 3vw 6vw;
        gap: 3vw;
    }

    .typographie {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 5vw;
        gap: 2vw;
    }

    .polices-titres,
    .polices-corps {
        display: flex;
        flex-direction: column;
        width: 35vw;
        gap: 8px;
    }

    .polices-corps {
        width: 31vw;
    }

    .polices-titres p,
    .polices-corps p {
        margin-bottom: 12px;
    }


    .graphisme {
        gap: 50px;
    }

    .graphisme-content {
        margin: 0;
    }

    .graphisme-affiche:nth-of-type(1) {
        flex-direction: column;
    }

    .graphisme-affiche:nth-of-type(2) {
        flex-direction: column-reverse;
    }

    .graphisme-texte {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 550px;

    }

    .graphisme-affiche:first-child .graphisme-texte {
        align-self: start;
    }

    .graphisme-affiche:nth-of-type(2) .graphisme-texte {
        align-self: end;
    }

    /* AFFICHE  */

    .affiche {
        width: 75%;
        max-width: 350px;
    }

    .affiche-texte {
        position: absolute;
        left: 0;
        z-index: 2;
        line-height: 25px;
        width: 55vw;
        max-width: 500px;
        padding-left: 0;
    }

    .graphisme-affiche:first-child .affiche-texte {
        left: 5vw;
    }

    .graphisme-affiche:nth-of-type(2) .affiche-texte {
        right: 4vw;
        left: auto;
    }

    .affiche-texte-background {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 80%;
        left: 0;
    }

    .affiche-texte-background1 {
        margin-left: -5vw;
    }

    .affiche-texte-background2 {
        right: -3vw;
        left: auto;
    }

    .graphisme-logo-container {
        flex-direction: column;
        gap: 48px;
    }

    .graphisme-logo-container:nth-last-of-type(1) {
        flex-direction: column-reverse;
    }


    .graphisme-logo-container .graphisme-postit {
        width: 60vw;
        max-width: 250px;
        height: auto;
    }

    .logo-graphisme {
        width: 35vw;
    }

    .texte-logo {
        width: 60vw;
    }


    .audiovisuel {
        padding-top: 32px;
        gap: 64px;
    }

    .audiovisuel-cards {
        gap: 64px;
    }

    .mes-projets-audiovisuel-card {
        flex-direction: column-reverse;
        gap: 24px;
        align-items: center;
    }

    .mes-projets-audiovisuel-card:nth-child(2) {
        flex-direction: column;
    }

    .computer1,
    .computer2 {
        max-width: none;
        width: 80vw;
        max-width: 350px;
    }

    .post-it1 {
        margin-right: 0;
        max-width: none;
        width: 60%;
        padding: 56px 48px;
        background-size: 100%;
    }

    .post-it2 {
        margin-right: 0;
        max-width: none;
        width: 60%;
        padding: 56px 48px;
        background-size: 100%;
    }

    .popup-content {
        padding: 65px 5vw;
        width: 90vw;
        background-size: 100% 100%;
    }

    .etoile-audiovisuel1 {
        width: 15vw;
        top: -20px;
    }

    .etoile-audiovisuel2 {
        width: 15vw;
        top: -20px;
        right: -15px;
    }

    /* Illustrations */

    .illustrations {
        padding-top: 64px;
        gap: 32px;
    }

    .illustrations-contenu {
        height: 440px;
    }

    .carnet {
        width: 100%;
        height: 440px;
    }

    .carnet {
        scale: 1;
    }


    .indications {
        gap: 5vw;
    }

    .indications h3 {
        text-align: center;
    }

    .indications img {
        max-width: none;
        width: 10vw;
    }

}

@media screen and (min-width: 769px) and (max-width: 1025px) {


    .mes-projets-contenu {
        gap: 36px;
    }

    .mes-projets-titre img {
        width: 50px;
        left: auto;
        right: -15%;
        bottom: 0%;
    }

    .uiux-top {
        gap: 2vw;
    }

    .uiux {
        padding-top: 50px;
    }

    .uiux-left {
        max-width: 300px;
        width: calc(100% - 10vw);
        padding: 0 5vw;
    }

    .uiux-right {
        width: 100%;
        justify-content: end;
    }

    .scroll {
        flex-direction: row;
        gap: 1vw;
        bottom: 0;
        margin-bottom: -20px;
    }

    .scroll h3 {
        margin-left: -2vw;
    }

    .scroll img {
        width: 10vw;
        transform: rotate(-20deg);
    }

    .lien img {
        margin: -8px -8px 0 0;
    }

    .television-frame {
        max-width: none;
        width: 100%;
    }

    .television {
        max-width: 350px;
        width: 100%;
        background-size: cover;
    }

    .television-screen {
        top: 4%;
        left: 25.5%;
        width: 50.5%;
        height: 80%;
    }

    .etoiles {
        width: 10vw;
        top: 0;
    }

    .palette-couleurs {
        margin-right: 0;
    }

    .palette {
        width: 10vw;
        left: auto;
        right: -10%;
    }

    .carres-couleurs {
        background-size: 100%;
        padding: 11vw 50px;
        gap: 2vw;
    }

    .carre p {
        opacity: 0;
        font-size: 12px;
    }

    .bleu-fonce {
        padding: 4vw;
        border-radius: 15px;
    }

    .bleu-clair {
        padding: 4vw;
        border-radius: 15px;
    }

    .blanc {
        padding: 4vw;
        border-radius: 15px;
    }

    .noir {
        padding: 4vw;
        border-radius: 15px;
    }

    .encre {
        top: -20%;
        left: -10%;
        width: 20vw;
    }

    .polices {
        align-items: start;
        background-size: 100% 100%;
        padding: 3vw 6vw;
    }

    .typographie {
        margin: 0 5vw;
        gap: 2vw;
    }

    .polices-titres,
    .polices-corps {
        width: 30vw;
        gap: 8px;
    }

    .polices-corps {
        width: 31vw;
    }

    .polices-titres p,
    .polices-corps p {
        margin-bottom: 12px;
    }


    .graphisme {
        gap: 50px;
    }

    .graphisme-content {
        margin: 0;
    }

    .graphisme-texte {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 550px;

    }

    /* AFFICHE  */

    .affiche-texte {
        position: absolute;
        left: 0;
        z-index: 2;
        line-height: 25px;
        width: 40vw;
        padding-left: 0;
    }

    .graphisme-affiche:first-child .affiche-texte {
        left: 3vw;
    }

    .graphisme-affiche:nth-of-type(2) .affiche-texte {
        right: 3vw;
        left: auto;
    }

    .affiche-texte-background {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 80%;
        left: 0;
    }

    .affiche-texte-background1 {
        margin-left: -5vw;
    }

    .affiche-texte-background2 {
        right: -3vw;
        left: auto;
    }

    .graphisme-logo-container {
        gap: 3vw;
    }

    .graphisme-logo-container .graphisme-postit {
        width: 60vw;
        max-width: 250px;
        height: auto;
    }

    .logo-graphisme {
        width: 15vw;
    }

    .texte-logo {
        width: 40vw;
    }


    .audiovisuel {
        padding-top: 32px;
        gap: 64px;
    }

    .computer1,
    .computer2 {
        width: 80vw;
        max-width: 350px;
    }

    .mes-projets-audiovisuel-card {
        align-items: center;
    }

    .post-it1 {
        margin-right: 0;
        max-width: none;
        width: 30%;
        padding: 56px 48px;
        background-size: 100%;
    }

    .post-it2 {
        margin-right: 0;
        max-width: none;
        width: 30%;
        padding: 56px 48px;
        background-size: 100%;
    }

    .popup-content {
        padding: 65px 5vw;
        width: 90vw;
        background-size: 100% 100%;
    }

    .etoile-audiovisuel1 {
        width: 10vw;
        top: -20px;
    }

    .etoile-audiovisuel2 {
        width: 10vw;
        top: -20px;
        right: -15px;
    }

    /* Illustrations */

    .illustrations {
        padding-top: 64px;
        gap: 32px;
    }

    .illustrations-contenu {
        height: 500px;
    }

    .indications {
        gap: 5vw;
    }

}

@media screen and (min-width: 1800px) and (max-width: 2560px) {
    .television {
        background-size: 100% 100%;
    }

    .carres-couleurs {
        background-size: 100% 100%;
    }

    .polices {
        background-size: 100% 100%;
    }

    .post-it1 {
        background-size: 100% 100%;
    }

    .post-it2 {
        background-size: 100% 100%;
    }

    .carnet {
        scale: 1.2;
    }

    .illustrations-contenu {
        height: 600px;
        gap: 70px;
    }

    .indications {
        gap: 200px;
    }
}