
.mes-projets-contenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 200px;
}

.mes-projets-titre img{
    width: 5vw;
    margin-top: -50px;
    margin-bottom: 50px;
    transform: scaleX(-1);
}


.mes-projets-titre {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.audiovisuel {
    padding-top: 100px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

.catégorie-titres {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    margin-left: 4vw;
}

.mes-projets-audiovisuel-card1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: start;
}

.mes-projets-audiovisuel-card2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: end;
    position: relative;
}

.computer {
    position: relative;
    z-index: 2;
    max-width: 30vw;
    height: auto;
    flex-shrink: 0;
}

.post-it1 {
    position: relative;
    z-index: 1;
    margin-bottom: -60px;
    margin-top: 40px;
    margin-right: -4.5vw;
    max-width: 20vw;        
    background-image: url('./src/images/post-it1.png');
    background-repeat: no-repeat;
    padding: 70px 45px;
}

.post-it2 {
    position: relative;
    z-index: 1;
    margin-bottom: -30px;
    margin-left: -3vw;
    max-width: 20vw;        
    background-image: url('./src/images/post-it2.png');
    background-repeat: no-repeat;
    background-position: left;
    padding: 70px 45px;
    flex-shrink: 0;
}

.audiovisuel span, .uiux span, .graphisme span {
    font-family: 'Perpetua';
    font-size: 24px;
    color: black;
    background-color: rgba(210, 205, 163, 0.5);
}

.etoile-audiovisuel1 {
    position: relative;
    z-index: 2;
    margin-right: -100px;
}

.etoile-audiovisuel2 {
    position: relative;
    z-index: 2;
    margin-left: -130px;
    margin-bottom: -50px;
}

.audiovisuel-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 180px;
}

.uiux-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 12vw;
}

.television-frame {
    max-width: 40vw;
    height: auto;
}

.television {
    position: relative;
    z-index: 1;
    background-image: url(src/images/papier-television.png);
    background-repeat: no-repeat;
    background-position: right;
    padding: 8vw 8vw 8vw 9.5vw;
}

.television-screen {
    position: absolute;
    top: 18%;
    left: 23%;
    width: 53.5%;
    height: 52%;
    overflow: hidden;
    z-index: 1; /* Toujours derrière la frame */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    scrollbar-width: none;
    pointer-events: all;
    mask-image: url("src/images/formes-televisions.svg");
    -webkit-mask-image: url("src/images/formes-televisions.svg");

    /* Empêcher la répétition */
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

    /* Ajuster la taille au conteneur */
    mask-size: 100% 100%;
}

.television-screen::-webkit-scrollbar {
    display: none; /* Cache la scrollbar sur Chrome et Safari */
}
.scroll-content {
    width: 100%;
    height: 200%; /* Longue image scrollable */
}
.scroll-content img {
    padding: 28px 0;
    width: 100%;
    height: auto;
}
.graphisme {
    padding-top: 100px; 
}

.graphisme-affiche {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    
}

.graphisme-affiche img {
    position: relative;
    z-index: 2;
    max-width: 30vw;
    height: auto;
}

.graphisme-texte1 {
    position: relative;
    z-index: 1;
    max-width: 20vw;
    background-image: url(src/images/papier-graphisme1.png);
    background-position: right;
    background-size: 30vw;
    background-repeat: no-repeat;
    padding: 8vw;
    margin-left: -8vw;
    line-height: 40px;
}

.graphisme-texte2 {
    position: relative;
    z-index: 1;
    max-width: 20vw;
    background-image: url(src/images/papier-graphisme2.png);
    background-position: left;
    background-size: 30vw;
    background-repeat: no-repeat;
    padding: 8vw;
    margin-right: -10vw;
    line-height: 40px;
}

.graphisme-logo {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 2vw;
    
}

.graphisme-texte-logo {
    margin-top: 20px;
    max-width: 23vw;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.graphisme-postit {
    max-width: 25vw;
    height: auto;
}

.graphisme-texte-logo img {
    max-width: 12vw;
    height: auto;
}

.uiux {
    padding-top: 100px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

.uiux-left {
    max-width: 21vw;
}

.uiux-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.scroll {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.scroll h3 {
    margin-left: -2vw;
}

.details-uiux {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 400px;
    align-items: start;
    margin-right: -14vw;
}

.lien {
    display: flex;
    align-items: start;
    text-decoration: none;
    text-decoration-color: #960000;
}

.lien img {
    margin: -8px -8px 0 0;
}

.lien:hover {
    text-decoration: underline;
    text-decoration-color: #960000;
    text-decoration-thickness: 1.5px;
}

.palette-couleurs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.palette {
    position: relative;
    z-index: 2;
    max-width: 20vw;
    height: auto;
    margin-left: -3vw;
    margin-top: -5vw;
}

.carres-couleurs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    background-image: url(src/images/postit-uiux.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 5vw 4vw;
    margin-top: 10px;
    gap:1vw;
}

.carre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carre p{
    opacity: 0;
    margin-top: -4vw;
    transition: opacity 0.5s ease-in-out;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.texte-blanc {
    color: white;
}

.carre:hover p{
    opacity: 1;
}

.bleu-fonce {
    padding: 3.5vw;
    background-color: #155A7A;
    border-radius: 1vw;
}

.bleu-clair {
    padding: 3.5vw;
    background-color: #609BBF;
    border-radius: 1vw;
}

.blanc {
    padding: 3.5vw;
    background-color: #F6F6F6;
    border-radius: 1vw;
}

.noir {
    padding: 3.5vw;
    background-color: #000000;
    border-radius: 1vw;
}

.encre {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    position: relative;
    z-index: 2;
    max-width: 20vw;
    height: auto;
    margin-right: -5vw;
}

.typographie {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.polices {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    background-image: url(src/images/postit-uiux.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 3vw 6vw;
    margin-top: 10px;
    gap:1vw;
}

.right-typographie {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    align-items: end;
}
.polices-titres, .polices-corps{
    display: flex;
    flex-direction: column;
}
.polices-titres p, .polices-corps p{
    margin-bottom: 12px;
}

.polices-titres span {
    font-family: 'Lemon Milk';
    background: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bold{
    font-weight: 700;
}
.medium{
    font-weight: 500;
}
.regular{
    font-weight: 400;
}
.light{
    font-weight: 300;
}
.polices-corps span {
    font-family: 'Bricolage Grotesque';
    background: none;
}

.illustrations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    gap: 100px;
}

.illustrations-contenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carnet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(src/images/carnet.png);
    background-size: 60vw;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20vw 25vw;
}

.dessin {
    max-width: 20vw;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
}

.indications img {
    max-width: 5vw;
    height: auto;
}

.indications {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}
